@model ClassCoin.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<div class="header py-7 py-lg-8" style="padding-top:20px !important; background:linear-gradient(87deg,#5e72e4 0,#172b4d 100%) !important">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1 class="text-lighter text-center" style="padding-bottom:20px;">Login and start distributing!</h1>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 100" preserveAspectRatio="none meet" x="0" y="0" version="1.1">
            <polygon class="fill-secondary" style="stroke-width:5;stroke:#f8f9fe;" points="3000,0 3000,100 0,100" />
        </svg>
    </div>
</div>
<div class="container-fluid" style="margin-top:-8rem;">
    <div class="row">
        <div class="col"></div>
        <div class="col-3">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">
                    <div class="text-muted text-center mt-2 mb-3">
                        <small>Sign in with</small>
                    </div>
                    <div class="btn-wrapper text-center">
                        <a class="btn btn-neutral btn-icon" href="#">
                            <span class="btn-inner--icon">
                                <img src="~/Graphics/google.svg" />
                            </span>
                            <span class="btn-inner--text">
                                Google
                            </span>
                        </a>
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>Or sign in with credentials</small>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <span class="text-danger">@ViewBag.Message</span>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ni ni-single-02"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Username,
                                        htmlAttributes: new { @class = "form-control", @placeholder = "Username / Email" })
                                    @Html.ValidationMessageFor(model => model.Username, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ni ni-lock-circle-open"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Password,
                                        htmlAttributes: new { @class = "form-control", @placeholder = "Password", @type = "password" })
                                    @Html.ValidationMessageFor(model => model.Password, "", htmlAttributes: new { @class = "text-danger" })
                                    @Html.ActionLink("Forgot Password?", "ForgotPassword", null, htmlAttributes: new { @class = "text-muted" })
                                </div>
                            </div>
                            <div class="custom-control custom-control-alternative custom-checkbox">
                                @Html.CheckBoxFor(model => model.RememberMe,
                                    htmlAttributes: new { @class = "custom-control-input", @id = "customCheckLogin", @type = "checkbox" })
                                <label class="custom-control-label" for="customCheckLogin">
                                    <span class="text-muted">Remember Me</span>
                                </label>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary my-4" value="Landing" type="submit">Sign in</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
